RewriteEngine On
RewriteBase /
# Route all requests to index.php (catalog and .bin download)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
